.registerdiv{
   
    padding: 130px;
    
     
    /* bottom: -100;
    right: 200; */
    width: 160px;
    
    height:570px;
    background-color: rgb(250, 245, 245);
     /* text-align:center;  */
    margin:80px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #030c0f;
    
    }
    